# webserver config example
listen_port=8080
document_root=./examples/webserver/runtime/docroot
tls_cert_file=./examples/webserver/runtime/tls/server.crt
tls_key_file=./examples/webserver/runtime/tls/server.key
cgi_enabled=true
cgi_bin_dir=./examples/webserver/runtime/cgi-bin
max_connections=100
